@import url('fonts.css');
@import url('min.css');

@custom-media --xl (max-width: 1100px); 
@custom-media --lg (max-width: 900px); 
@custom-media --md (max-width: 768px); 
@custom-media --sm (max-width: 650px); 
@custom-media --xs (max-width: 480px); 


:root {
  /* color */
  --bg-color: #fff;
  --black: #333333;
  --red: #EA374C;
  --btn: linear-gradient(180deg, #EA384D 0%, #D31027 100%);
  --btn-not-accent: #F2F4F6;
  /* font  */
  --fz: 16px;
  --fz-14: 14px;
  --fz-h2: 40px;
  --fz-h3: 20px;
  --fz-tel: 24px;
  --fz-desc: 18px;
  --fz-btn: 14px;
  --fz-navbar: 12px;
  --fz-menu: 14px;
  /* content */
  --content-width: 1160px;
  --border-radius: 5px;
  --container-padding: 80px;

  @media (--xl) {
    --fz-h2: 34px;
    --fz-tel: 20px;
  }
  @media (--md) {
    --fz-h2: 30px;
    --fz-h3: 18px;
    --fz: 14px;
    /* для элементов хедера */
    --fz-14: 12px;

    --fz-desc: 16px;
    --padding-container: 50px;
    --h-plashka: 157px;
  }
  @media (--sm) {
    --fz-h2: 22px;
    --fz-btn: 12px;
    --fz-navbar-left: 10px;
    --size-prev-next: 32px;
    --fz-docs: 10px;
    --fz-tel: 18px;

    --container-padding: 60px;
  }
  @media (--xs) {
    --fz-h2: 22px;
    --fz-btn: 12px;
    --fz-navbar-left: 10px;
    --size-prev-next: 32px;
    --fz-docs: 10px;
    --fz-menu: 10px;
  }
}
html {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--black);
}
textarea::placeholder {
  font-size: var(--fz);
  color: #BDBDBD;
}
* > b {
  font-weight: 600;
}
.container {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;

  @media (--md) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (--xs) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.head {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 80px;

  & > h2 {
    font-size: var(--fz-h2);
    margin-bottom: 20px;

    & > b {
      font-weight: 700;
    }
  }
  & span {
    font-size: var(--fz-desc);
    font-weight: 300;
  }
}
.btn {
  display: inline-block;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 35px 80px;
  border-radius: var(--border-radius);
  font-size: var(--fz-btn);
  transition: transform .3s ease-in-out;

  @media (--lg) {
    padding: 30px 68px;
  }
  @media (--md) {
    padding: 30px 58px;
  }
  @media (--sm) {
    padding: 25px 50px;
  }

  &:hover {
    transform: scale(1.05);
  }
} 
.btn-main {
  color: #fff;
  text-shadow: 0px 1px 0px #D41229;
  background: linear-gradient(180deg, #EA384D 0%, #D31027 100%);
  box-shadow: 0px 10px 30px rgba(217, 49, 53, 0.3), 0px 4px 0px #B52929;

  &:active {
    transform: scale(1);
    background: #D31027;
  }
}
.btn-cancel {
  color: var(--black);
  background: #F2F4F6;

  &:active {
    transform: scale(1);
    background: #ededed;
  }
}
.btn--mini {
  font-size: var(--fz-14);
  padding: 30px 64px;

  @media (--lg) {
    padding: 25px 58px;
  }
  @media (--md) {
    padding: 25px 48px;
  }
  @media (--sm) {
    padding: 20px;
  }
}
.input {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  background: #F7F7F7;
  border-radius: var(--border-radius);
  padding: 27px 40px;

  &::placeholder {
    color: #BDBDBD;
  }

  @media (--sm) {
    font-size: 14px;
  }
}


.header {
  background: url(../img/fon_header.png) bottom;
  padding-top: 24px;
}
.header__container {
  margin-bottom: var(--container-padding);

  @media (--md) {
    margin-bottom: 0;
  }

  &.thanks {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    overflow-y: auto;
  }
}
.navbar {
  height: 150px;
}
.navbar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fz-navbar);
  margin-bottom: 36px;

  @media (--sm) {
    flex-wrap: wrap;
  }

  & > * {
    &:not(:last-child) {
      margin-right: 30px;

      @media (--sm) {
        margin-right: 0;
      }
    }
  }
}

.navbar__item {
  display: flex;

  &:nth-child(1) {
    max-width: 442px;
    min-width: 150px;
    width: 100%;
    align-items: center;
    line-height: 1.5;
    @media (--xl) {
      max-width: 300px;
    }
    @media (--sm) {
      margin-bottom: 20px;
    }
    @media (--xs) {
      width: 150px;
    }

    & > img {
      width: 60%;
      margin-right: 20px;
      @media (--xl) {
        width: 100%;
      }
    }
    & > p {
      @media (--xl) {
        display: none;
      }
    }
  }
  &:nth-child(2) {
    max-width: 244px;
    width: 100%;

    @media (--sm) {
      order: 3;
      width: 50%;
    }

    & img {
      width: 20px;
      height: 27px;
      margin-right: 15px;
      @media (--lg) {
        display: none;
      }
    }
    & p {
      margin-bottom: 10px;
    }
    & a {
      color: #0099FF;
      text-decoration: underline;
    }
  }
  &:nth-child(3) {
    max-width: 144px;
    width: 100%;
    align-items: center;
    flex-direction: column;

    @media (--lg) {
      display: none;
    }

    & > p {
      margin-bottom: 10px;
    }
  }
  &:nth-child(4) {
    max-width: 176px;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    line-height: 1.5;
    margin-right: 0;
    @media (--lg) {
      margin-right: 30px;
    }
    @media (--sm) {
      order: 4;
      width: 50%;
      margin-right: 0;
    }

    & span {
      color: #999999;
    }
    & > .tel {
      font-size: var(--fz-tel);
      font-weight: 700;
      color: var(--black);
      transition: all .3s ease-in-out;

      &:hover {
        color: var(--red);
      }
    }
    & > .mail {
      display: flex;
      align-items: center;
      color: var(--black);
      transition: all .3s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
    & > .mail::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 11px;
      background: url(../img/mail.png) center / contain no-repeat;
      margin-right: 10px;
    }
  }
  &.burger {
    display: none;
    @media (--lg) {
      display: block;
    }
    @media (--sm) {
      display: flex;
      justify-content: flex-end;
      width: calc(100% - 300px);
      order: 2;
      margin-bottom: 20px;
    }
    @media (--xs) {
      width: calc(100% - 150px);
    }
    & > input {
      display: none;

      &:checked ~ {
       & label > .burger__icon {
          background: transparent;

          &::before,
          &::after {
              top: 0;
          }

          &::after {
            transform: rotate(-45deg);
          }

          &::before {
            transform: rotate(45deg);
          }
        }
      }

      &+label {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 30px;
        cursor: pointer;
        transition: .4s;

        & > .burger__icon {
          display: block;
          position: relative;
          background: rgba(0,0,0,1);
          width: 90%;
          height: 2px;
          transition: .4s;

          &::after,
          &::before {
              content: "";
              display: block;
              position: absolute;
              background: rgba(0,0,0,1);
              width: 100%;
              height: 2px;
              transition: .4s;
          }
          &::after {
            top: 8px;
          }
          &::before {
            top: -8px;
          }
        }
      }
    }
  }
}
.social {
  & > *:not(:last-child) {
    margin-right: 10px;
  }

  & > a {
    display: inline-block;
    width: 25px;
    height: 25px;

    & > img {
      object-fit: contain;
      width: auto;
      transition: all .3s ease-in-out;
    }
    &:hover img{
      transform: scale(1.1);
    }
  } 
}
.navbar__item__loc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & > a {
    transition: all .3s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
    @media (--md) {
      display: none;
    }
  }
}
.navbar__menu {
  position: absolute;
  left: 0;
  width: 100%;
  background: #F8F8F8;

  @media (--lg) {
    top: 100px;
    display: flex;
    justify-content: center;
    z-index: 999;
    height: 0;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
    overflow: hidden;
    box-shadow: 0px 11px 17px 0px rgba(50, 50, 50, 0.15);
  }
  @media (--xs) {
    top: 70px;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--fz-menu);
  line-height: 1.5;
  font-weight: 400;

  @media (--lg) {
    /* display: none; */
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    opacity: 0;
    transform: translate(20px);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.65s;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 10px;

      @media (--lg) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    & > a {
      display: flex;
      align-items: center;
      color: var(--black);
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--red);
      }
  
      &::before {
        content: "";
        display: block;
        width: 7px;
        height: 7px;
        background-color: var(--red);
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
  &__social {
    display: none;
    align-self: center;
    @media (--lg) {
      margin-top: 30px;
      display: block;
    }
    & > p {
      margin-bottom: 10px;
      font-weight: 600;
    }
    & .social {
      display: flex;
      justify-content: center;
    }
  }
  &.active {
    opacity: 1;
    transform: translate(0);
  }
}

.header__body {
  display: flex;
  align-items: flex-end;
  height: auto;
  margin-top: 80px;

  @media (--lg) {
    flex-direction: column;
    margin-top: 0;
  }
  @media (--sm) {
    margin-top: 50px;
  }
  @media (--xs) {
    margin-top: 0;
  }

  &-left {
    width: 64%;

    @media (--lg) {
      width: 100%;
      text-align: center;
    }

    & > h1 {
      font-size: var(--fz-h2);
      font-weight: 700;
      line-height: 1.5;
  
      & > b {
        font-weight: inherit;
        color: var(--red);
      }
    }
    & .header__info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      margin-top: 40px;
      margin-bottom: 60px;

      @media (--xs) {
        grid-template-columns: 1fr;
        gap: 20px;
      }

      &-item {
        display: flex;
        align-items: center;
        max-width: 309px;
        @media (--lg) {
          text-align: left;
        }
        @media (--md) {
          max-width: none;
        }
      
        & > img {
          width: 50px;
          height: 50px;
          object-fit: contain;
          margin-right: 20px;

          @media (--md) {
            width: 40px;
            height: 40px;
          }
          @media (--xs) {
            width: 25px;
            height: 25px;
            margin-right: 15px;
          }
        }
        & > p {
          font-size: var(--fz-14);
          line-height: 1.5;
        }
      }
    }
    &.thanks {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & > * {
        margin-bottom: 30px;
      }
    }
  }
  &-right {
    position: relative;
    right: -3%;
    width: 40%;

    @media (--lg) {
      display: none;
    }
  }
}
.header-btn {
  margin-bottom: 80px;
  @media (--md) {
    margin-bottom: 40px;
  }
}
.header-mob {
  display: none;
  position: relative;
  width: 40%;
  margin: 0 auto;

  @media (--lg) {
    display: block;
  }
  @media (--sm) {
    width: 60%;
  }
  @media (--xs) {
    width: 70%;
  }

  & .header-parallax {
    position: absolute;
    bottom: 10%;
    right: 30px;
    width: 100%;
    height: auto;
    text-align: right;

    @media (--sm) {
      right: 0;
    }

    &__item {
      position: relative;
      display: inline-block;
      padding: 15px 25px;
      color: #fff;
      font-size: var(--fz-menu);
      line-height: 1.5;
      border-radius: 3px;
      transform: skew(-20deg);

      @media (--sm) {
        padding: 15px 15px;
      }
    
      &:first-child {
        top: 10px;
        background: linear-gradient(152.32deg, #EA374C 17.21%, #CE1728 82.79%);
        z-index: 5;
      }
      &:last-child {
        right: 30px;
        top: 10%!important;
        font-weight: 300;
        background: var(--black);
      }
      & p {
        transform: skew(20deg);
      }
    }
  }

}
.header__img {
  width: 100%;

}


.quiz__container {
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}
.quiz__body {
  display: flex;
  justify-content: space-between;

  @media (--lg) {
    flex-direction: column;
  }

  &-content {
    width: 60%;
    padding-right: 2%;

    @media (--lg) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 30px;
    }

    & .head {
      text-align: left;
    }
  }
  &-info {
    max-width: 342px;
    width: 40%;
    text-align: center;
    line-height: 1.5;
    background: #F2F4F6;
    border-radius: var(--border-radius);
    padding: 30px;

    @media (--lg) {
      max-width: none;
      width: 100%;
    }

    & > img {
      width: 170px;
      margin-bottom: 30px;
      @media (--lg) {
        display: none;
      }
    }
    & > h3 {
      font-weight: 600;
      font-size: var(--fz);
      @media (--lg) {
        display: none;
      }
    }
    & > i {
      font-style: normal;
      font-size: 12px;
      color: #999999;
      @media (--lg) {
        display: none;
      }
    }
    & > p {
      font-size: 14px;
      font-weight: 300;
      margin-top: 30px;
      margin-bottom: 30px;
      @media (--lg) {
        display: none;
      }

      & span {
        font-weight: 500;
        background-color: var(--red);
        color: #fff;
        border-radius: 3px;
      }
    }
    & > p.mob {
      display: none;
      @media (--lg) {
        display: block;
      }
    }

    &__gift {
      position: relative;
      width: 100%;
      padding: 15px;
      color: #FEFEFE;
      text-align: left;
      font-size: 12px;
      border-radius: var(--border-radius);

      &:nth-child(1), &:nth-of-type(1) {
        background: url(../img/quiz-gift.png) center / cover no-repeat;
        margin-bottom: 10px;
      }
      &:nth-child(2), &:nth-of-type(2) {
        background: url(../img/quiz-gift2.png) center / cover no-repeat;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 11px;
        height: 14px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        background: url(../img/quiz-zamok.svg) center / contain no-repeat;
        box-shadow: 0px 0px 10px rgba(234, 55, 76, 0.7);
      }
    }
  }
}

.timer {
  display: flex;
  margin-bottom: 60px;

  @media (--sm) {
    flex-direction: column;
  }
}
.timer__qu {
  font-size: var(--fz);
  margin-right: 20px;
  @media (--sm) {
    margin-right: 0;  
    margin-bottom: 10px;
  }
}
.timer__timeline {
  display: flex;
  align-items: center;
  height: 20px;
  width: 300px;
  background: #F8F8F8;
  border: 1px solid #CCCCCC;
  border-radius: 3px;

  & > .timeline-loading {
    height: 95%;
    width: 60px;
    background: var(--red);
    border-radius: inherit;
  }
}
.quiz__qu {

  &:not([data-quiz-page="1"]) {
    display: none;
  }

  &-heading {
    font-size: var(--fz-h3);
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  &-body {
    margin-bottom: 60px;
    font-size: var(--fz);

    &--checkbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px;

      @media (--xs) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }

      & > .qu-input-cont {
        padding: 20px;
        border: 1px solid #DADADA;
        border-radius: var(--border-radius);
        &:hover {
          border: 1px solid var(--red);
        }

        & > .input-checkbox {
          /* Скрываем чекбокс */
          position: absolute;
          z-index: -1;
          opacity: 0;
  
          &+label {
            width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            user-select: none;
  
            &::after {
              content: '';
              display: inline-block;
              width: 25px;
              height: 25px;
              flex-shrink: 0;
              flex-grow: 0;
              border-radius: 50%;
              background-color: #F2F4F6;
            }
          }
          &:checked+label::after {
            background-color: var(--red);
          }
        }
      }
    }
    &--textarea {

      & > textarea {
        width: 100%;
        height: 140px;
        padding: 20px;
        border: 1px solid #DADADA;
        border-radius: var(--border-radius);
      }
    }
    &--form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 8px;
      margin-bottom: 20px;

      @media (--xs) {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
      }

      & > input {
        background: #F7F7F7;
        border-radius: var(--border-radius);
        padding: 20px;
        &::placeholder {
          color: #999999;
        }
      }
    }
    & > .policy {
      width: 50%;
      margin-left: auto;

      @media (--xs) {
        width: 100%;
        margin-left: 0;
      }
    }
  }
  &-btns {
    @media (--xs) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    & > .btn {
      padding: 20px 45px;
    }
    & > .btn-cancel {
      margin-right: 20px;
      @media (--sm) {
        margin-right: 10px;
      }
    }
  }
}
.policy {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  color: #848484;
  & > a {
    color: var(--red);
  }
}

.podbors__container {
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
  text-align: center;
}
.podbors__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 65px 20px;
  text-align: left;
  margin-bottom: 60px;

  @media (--lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  @media (--sm) {
    display: none;
  }

  &--swiper {
    display: none;
    @media (--sm) {
      display: block;
      margin-bottom: 50px;
    }
  }
}
.podbors__item {
  position: relative;
  padding: 30px;
  background: #FEFEFE;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  border-top: 5px solid var(--red);
  line-height: 1.5;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    & > h3 {
      font-size: var(--fz-h3);
      font-weight: 600;
      line-height: 1.5;
      margin-right: 8px;
    }
    & > img {
      width: 45px;
      height: 50px;
      object-fit: contain;

      @media (--md) {
        width: 40px;
        height: 40px;
      }
    }
  }
  & > p {
    font-size: var(--fz);
    word-break: break-word;
  }

  &.swiper-slide {
    height: auto;
    box-shadow: 0 0 30px rgb(0 0 0 / 10%);
  }
}
.podbors__wrapper {
  height: max-content;
  padding-bottom: 30px;
}


.understand {
  &__container {
    padding-top: var(--container-padding);
    padding-bottom: var(--container-padding);
  }
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;

    @media (--sm) {
      display: none;
    }

    &--swiper {
      display: none;

      @media (--sm) {
        display: block;
      }
    }
  }
  &__item {
    text-align: center;

    &-heading {
      height: 91px;
      margin-bottom: 20px;
    
      & > img {
        height: 100%;
      }
    }
    &-body {
  
      & > p {
        display: inline-block;
        font-size: var(--fz);

        @media (--xs) {
          width: 80%;
        }
      }
    
    }
  }
}


.steps__container {
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}
.steps__body {
  text-align: center;
}
.steps__ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: dense;
  /* grid-auto-rows: 100px; */
  gap: 40px 40px;
  margin-bottom: 60px;
  text-align: left;
  @media (--lg) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }
  @media (--sm) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  & > li {
    position: relative;
    max-width: 363px;
    height: 100%;
    padding: 30px;
    background: #FEFEFE;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
  

    @media (--sm) {
      max-width: none;
    }

    &:last-child {
      /* переупорядовычиваем */
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
      /* grid-row: 3;
      grid-column: 2; */
      padding: 40px 30px;
      background: #F2F4F6;
      box-shadow: none;
      border-radius: var(--border-radius);
      text-align: center;
      margin-right: 0;

      @media (--lg) {
        width: 100%;
        max-width: none;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 6;
      }
      @media (--sm) {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 10;
        grid-row-end: 11;
      }
    }

    & > h3 {
      font-size: var(--fz-h3);
      font-weight: 600;
      margin-bottom: 10px;
    }
    & > p {
      font-size: var(--fz);
      margin-bottom: 40px;
    }
    & > .btn {
      font-size: 10px;
      padding: 20px;
    }
    & > .steps__line {
      position: absolute;
      width: 100%;
      bottom: 30px;

      &[data-steps-line="20"] {
        left: -80%;
      }
      &[data-steps-line="30"] {
        left: -70%;
      }
      &[data-steps-line="40"] {
        left: -60%;
      }
      &[data-steps-line="50"] {
        left: -50%;
      }
      &[data-steps-line="60"] {
        left: -40%;
      }
      &[data-steps-line="70"] {
        left: -30%;
      }
      &[data-steps-line="80"] {
        left: -20%;

      }
      &[data-steps-line="90"] {
        left: -10%;
      }
    }
  }

}
.steps__evg {

  & > img {
    width: 50% !important;
    margin-bottom: 30px;

    @media (--lg) {
      display: none;
    }
  }
  &-heading {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
    @media (--lg) {
      display: none;
    }

    & > h4 {
      font-size: var(--fz);
      font-weight: 600;
      margin-bottom: 10px;
    }
    & > p {
      font-size: var(--fz-navbar);
      color: #999999;
    }
  }
  & > ul {

    & > li {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      font-size: var(--fz-menu);
      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }

      & > img {
        width: 40px;
        height: 100%;
        margin-right: 15px;
      }
    }
  }
}


.facts {
  background-color: #F8F8F8;

  &__container {
    padding-top: var(--container-padding);
    padding-bottom: var(--container-padding);
  }
  &__body {
    text-align: center;
  }
  &__evg {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 80px;
  
     @media (--lg) {
       flex-direction: column;
       align-items: center;
     }
  
    &-left {
      width: 45%;
  
      @media (--lg) {
        width: 100%;
        text-align: center;
        order: 1;    
      }
  
      & > img {
        max-width: 400px;
        width: 85%;
        margin-bottom: 40px;
  
        @media (--lg) {
          max-width: 320px;
        }
      }
  
      &-desc {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--fz);
  
        @media (--xs) {
          flex-direction: column;
        }
  
        &__item {
          display: flex;
          align-items: center;
  
          &:first-child {
            @media (--xs) {
              margin-bottom: 20px;
            }
          }
  
          & > img {
            width: 50px;
            height: 50px;
            margin-right: 15px;


            @media (--sm) {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  
    &-right {
      width: 50%;
      line-height: 1.5;
      --fz-descript: 18px;
  
      @media (--lg) {
        width: 100%; 
        margin-bottom: 30px;  
      }
      @media (--md) {
        --fz-descript: 14px;
      }
  
      & i {
        font-style: normal;
        color: var(--red);
      }
      & > h2 {
        font-size: var(--fz-h2);
        margin-bottom: 20px;
      }
      &-desc {
        display: flex;
        margin-bottom: 40px;
  
        &::before {
          content: "";
          display: inline-block;
          width: 30px;
          height: 2px;
          background-color: var(--red);
          margin-right: 15px;
          margin-top: 10px;
        }
        & > p {
          width: calc(100% - 45px);
          font-size: var(--fz-descript);
          font-weight: 300;
        }
      }
      & > ul {
        font-size: var(--fz-descript);
  
        & > li:not(:last-child) {
          margin-bottom: 20px;
        }
      }
  
    }
  }
  &__facts {
  
    & > h3 {
      max-width: 574px;
      font-size: var(--fz-tel);
      margin: 0 auto 40px;
    }
  
    &-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 60px;

      @media (--sm) {
        display: none;
      }

      &--swiper {
        display: none;
        @media (--sm) {
          display: block;
          margin-bottom: 60px;
        }
      }
    }
    &-item {
      width: 210px;
      text-align: center;
      margin-bottom: 10px;

      @media (--sm) {
        margin-bottom: 0;
      }
  
      &:not(:last-child) {
        margin-right: 10px;

        @media (--sm) {
          margin-right: 0;
        }
      }
      & > p {
        font-size: var(--fz);
      }
    }
    &-cicle {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 190px;
      height: 190px;
      background: url(../img/facts.svg) center / contain no-repeat;
      font-weight: 600;
      font-size: 26px;
      margin-bottom: 20px;

      @media (--sm) {
        font-size: 20px;
        width: 150px;
        height: 150px;
      }
    }
  }
}

.partners__container {
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}
.partners__body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (--sm) {
    flex-direction: column;
  }
}
.partners__slider.swiper-container {
  position: relative;
  width: 50%;
  height: 150px;
  padding-left: 40px;
  padding-right: 40px;
  @media (--sm) {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.partners__wrapper {
  height: 100%;
  align-items: center;

  & > .swiper-slide {
    height: 105px;
    display: flex;
    justify-content: center;
    /* background-color: #000; */

    & > img {
      display: block;
      object-fit: contain;
      width: 95%;
      height: 100%;
    }
  }
}
.partners__heading {
  width: 50%;
  padding-left: 35px;
  line-height: 1.5;
  @media (--sm) {
    order: -1;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  & h2 {
    font-size: var(--fz-h2);
    margin-bottom: 20px;
  }

  & span {
    font-size: var(--fz-decs);
    font-weight: 300;
  }
}
.partners__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 10;
}
.partners__prev, .partners__next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../img/strelka.svg) center no-repeat , var(--red);
  outline: none;

  @media (--sm) {
    width: 30px;
    height: 30px;
    background: url(../img/strelka.svg) center / 25% no-repeat , var(--red);
  }

  &:hover {

  }
}
.partners__prev {
  transform: scale(-1, 1);
}
.partners__next {

}




.otzovy__container {
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}

.otzovy__body {

}
.otzovy__slider.swiper-container {

}
.otzovy__wrapper.swiper-wrapper {
  & > .swiper-slide {

  }
}
.otzovy__nav {
  & .otzovy__prev {

  }
  & .otzovy__next {

  }
}
.otzovy__heading {
  line-height: 1.5;

  & h2 {
    font-size: var(--fz-h2);
  }
  & p {
    font-style: italic;
    font-weight: 300;
    font-size: var(--fz-desc);
  }
}



.forma__container {
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}
.forma__body {
  
}
.privilege-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;

  @media (--lg) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__item {
    display: flex;
    align-items: center;
    line-height: 1.5;

    @media (--lg) {
      margin-bottom: 20px;
    }
  
    &:not(:last-child) {
      margin-right: 50px;
    }
  
    & > img {
      margin-right: 15px;
    }
    & > p {
      font-size: var(--fz);
    }
  }
}
.forma-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FEFEFE;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  padding: 40px;
  line-height: 1.5;
  @media (--lg) {
    flex-direction: column;

  }

  &__left {
    max-width: 176px;
    margin-right: 60px;
    font-size: var(--fz-menu);
    text-align: center;
    @media (--lg) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  
    & > img {
      width: 100px;
      margin-bottom: 20px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  
    & h4 {
      max-width: 70%;
      font-size: var(--fz);
      @media (--sm) {
        max-width: none;
      }
    }
  }

  &__format {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    font-size: var(--fz-menu);
    margin-top: 40px;
    margin-bottom: 20px;
    @media (--sm) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    @media (--sm) {
      flex-direction: column;
    }

    & > .input {
      font-weight: 300;
      height: 100%;
      width: 300px;
      margin-right: 20px;
      @media (--sm) {
        margin-right: 0;
        margin-bottom: 10px;
      }
      @media (--xs) {
        width: 100%;
      }
    }

    & > .btn {
      padding: 25px 40px;

      @media (--sm) {
        padding: 25px 30px;
      }
    }
  }
}



.maps {
  position: relative;
}
.maps__container {
  padding-top: var(--container-padding);
}
.maps__body {
  --h: 689px;
  @media (--lg) {
    --h: 490px;
  }
  @media (--sm) {
    --h: 380px;
  }
  @media (--xs) {
    --h: 280px;
  }
  width: 100%;
  height: var(--h);

  &-container {
    position: absolute;
    left: 0;
    top: 220px;
    height: var(--h);
    width: 100%;
    max-width: 1600px;

    @media (--sm) {
      top: 173px;
    }
    @media (max-width: 373px) {
      top: 205px;
    }
  }
}
.maps__form {
  position: relative;
  right: 0;
  margin-right: 0 !important;
  z-index: 9999;

  @media (--lg) {
    display: none;
  }
}

.modal {
  position: relative;
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
  &#modal-1 {
    display: none; /* Hidden by default */
  }

  &-content {
    width: 480px;
    height: auto;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 10px;
    background: #FEFEFE;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    cursor: auto;
    --fz-modal: 30px;
    @media (--md) {
      --fz-modal: 24px;
    }
    @media (--xs) {
      --fz-modal: 20px;
    }

    @media (--sm) {
      width: 85%;
      margin: 15% auto;
    }

    &__body {
      height: 100%;
      padding: 45px;
      border-radius: var(--border-radius);
      border: 1px solid rgba(234, 55, 76, 0.7);
      text-align: center;

      @media (--sm) {
        padding: 25px;
      }

      & > .input {
        width: 100%;
        margin-bottom: 10px;
      }

      & > .policy {
        margin-top: 20px;
      }
    }
    &__head {
      margin-bottom: 40px;
  
      & > h4 {
        font-size: var(--fz-modal);
        font-weight: 700;
        line-height: 1.5;

        & > i {
          font-style: normal;
          color: var(--red);
        }
      }
    }
  }

  &-form {
    width: 100%;

    & > input {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

.submit {
  & > .btn {
    margin: 20px 0;
  }
  & > p {
    font-weight: 300;
    font-size: 13px;
    & > a {
      color: var(--red);
    }
  }
}



.footer {
  background: #222222;
}
.footer__container {
  padding-top: calc(var(--container-padding) - 20px);
  padding-bottom: calc(var(--container-padding) - 20px);
}
.footer__body {

}
.footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #FEFEFE;
  line-height: 1.5;

  @media (--xs) {
    flex-direction: column;
    text-align: center;
  }

  & > * {
    display: flex;
    flex-direction: column;

    @media (--xs) {
      margin-bottom: 30px;
    }
    
    &:not(:last-child) {
      margin-right: 20px;

      @media (--xs) {
        margin-right: 0;
      }
    }
  }

  &-left {
    width: 255px;
    @media (--md) {
      width: 210px;
    }
    @media (--xs) {
      align-items: center;
      width: 100%;
    }
    & > img {
      width: 95%;
      margin-bottom: 10px;
      @media (--xs) {
        width: 60%;
      }
    }
    & > p {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
  &-center {

    @media (--sm) {
      display: none;
    }
    @media (--xs) {
      display: block;
      order: 1;
    }

    & > h4 {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 20px;
    }
    & > a {
      font-weight: normal;
      font-size: 12px;
      color: #FEFEFE;
      margin-bottom: 10px;
      transition: all 0.5s ease;

      &:hover {
        color: var(--red);
      }

      @media (--xs) {
        display: block;
      }
    }
  }
  &-right {
    text-align: right;

    @media (--xs) {
      text-align: center;
    }

    & > h4 {
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 20px;
    }

    &__tel {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 40px;

      @media (--xs) {
        align-items: center;
      }

      & span {
        font-size: 12px;
        color: #666666;
      }
      & .tel {
        color: #FEFEFE;
      }
      & .mail {
        display: flex;
        align-items: center;
        color: #FEFEFE;

        &::before {
          content: "";
          display: inline-block;
          width: 15px;
          height: 11px;
          background: url(../img/mail-white.png) center / contain no-repeat;
          margin-right: 10px;
        }
      }
    }

    &__loc {
      font-size: 12px;
      margin-bottom: 40px;

      & > a {
        color: #0099FF;
        text-decoration: underline;
      }

      & > .location-cont {
        display: flex;
        align-items: center;

        & img {
          @media (--xs) {
            display: none;
          }
        }
        & p {
          margin-right: 15px;
          @media (--xs) {
            margin: 0 auto;
          }
        }
      }
    }

    &__soc {
      p {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
}
.social-media {
  width: max-content;
  margin-bottom: 20px;

  & > h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__links {
    /* text-align: center; */
    & > a {
      &:not(:last-child) {
        margin-right: 10px;
      }
      & > img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
.razrab {
  font-size: var(--fz-14);

  & > h4 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  & > a {
    color: #777;
    text-decoration: underline;
  }
}




/* Animation */
*[data-animate-on-scroll] {
  opacity: 0;
}
*[data-animate-on-scroll=animated] {
  opacity: 1;
  animation: wipe-enter 2s;
}

@keyframes wipe-enter {
  0% {
    opacity: 0;
    transform: translate(0, -20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Parallax */
.parallax-scene {

}
.header-parallax {
  position: absolute;
  bottom: 15%;
  right: 30px;
  width: 100%;
  height: auto;
  text-align: right;

  &__item {

  
    &:first-child {
      /* top: 10px; */
      z-index: 5;
    }
    &:last-child {
      top: 40px !important;
      right: 30px;
    }
    & > #parallax-top {
      background: linear-gradient(152.32deg, #EA374C 17.21%, #CE1728 82.79%);
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      color: #fff;
      font-size: var(--fz-menu);
      line-height: 1.5;
      border-radius: 3px;
      transform: skew(-20deg);
    }
    & > #parallax-bottom {
      font-weight: 300;
      background: var(--black);
      position: relative;
      display: inline-block;
      padding: 15px 30px;
      color: #fff;
      font-size: var(--fz-menu);
      line-height: 1.5;
      border-radius: 3px;
      transform: skew(-20deg);
    }
    & p {
      transform: skew(20deg);
    }
  }
}
