footer.footer 
  .footer__container.container
    .footer__body
      .footer__content 
        .footer__content-left 
          img(src="./img/logo-white.svg", alt="Логотип")
          p Агентство по подбору персонала в г. Екатеринбург с гарантией 6 месяцев
          .social-media
            h4 Мы в социальных сетях:
            .social-media__links 
              a(href="") 
                img(src="./img/f-inst.svg", alt="Instagram")
              a(href="") 
                img(src="./img/f-youtube.svg", alt="YouTube")
          .razrab 
            h4 Сайт разработан:
            a(href="http://", target="_blank", rel="noopener noreferrer") Студия Максима Ларина
        .footer__content-center 
          h4 Навигация сайта
          a(href="") Подобрать специалиста
          a(href="") Услуги
          a(href="") Будьте осторожны
          a(href="") Как мы работаем
          a(href="") О нас
          a(href="") Отзывы клиентов
        .footer__content-right
          h4 С нами можно связаться
          .footer__content-right__tel
            span ежедневно 08:00-17:00
            a(class="tel" href="tel:+79126173106") 7 912 617 31 06
            a(class="mail" href="mailto:ru_hunters@mail.ru")  ru_hunters@mail.ru
          .footer__content-right__loc
            .location-cont
              p 
                b г. Екатеринбург, 
                br/ ул. Красноармейская БЦ «Антей»
              img(src="./img/location.svg")
            a(href="#") Посмотреть на карте
          .footer__content-right__soc
            p Задайте вопрос <b>online</b>:
            .social
              a(href="") 
                img(src="./img/wa.png")
              a(href="") 
                img(src="./img/telegram.png")
              a(href="")
                img(src="./img/viber.png")