section.forma 
  .forma__container.container
    .forma__head.head 
      h2 У вас ещё <b>остались вопросы?</b> 
      span Запишитесь на 20 минутную бесплатную онлайн-консультацию и мы обсудим структуру работы вашей команды и договоримся о личной встрече
    .forma__body
      .privilege-form
        .privilege-form__item 
          img(src="./img/check.svg", alt="чекбокс")
          p <b>Определим ваши слабые места</b> в команде и расскажем, как их устранить
        .privilege-form__item 
          img(src="./img/check.svg", alt="чекбокс")
          p Детально <b>разберём текущую ситуацию</b>
        .privilege-form__item 
          img(src="./img/check.svg", alt="чекбокс")
          p <b>Подготовим решение</b> по увеличению работоспособности коллектива
      .forma-form 
        .forma-form__left
          img(src="./img/allo.png")
          p 
            <b>Евгения Рушенцева</b>
            br/ Ответит на все вопросы
        .forma-form__right
          h4 <b>Оставьте ваш номер телефона</b>, мы перезвоним вам и согласуем удобную дату и время для консультации
          .forma-form__format 
            p <b>Формат</b>: Skype или Zoom
            p <b>Длительность</b>: 30 мин
          .forma-form__submit
            input(class="input" type="number" placeholder="+7 (_ _ _) _ _ _ - _ _ - _ _" name="number")
            a(class="btn btn-main" href="#") ЗАПИСАТЬСЯ НА КОНСУЛЬТАЦИЮ
          
    