header.header 
  .container.header__container.thanks
    .header__body
      .header__body-left.thanks
        h1 Спасибо, что обратились к нам!
        p Мы свяжемся с вами в ближайшее время
        a(class="btn btn-main header-btn" href="/") НА ГЛАВНУЮ

      
