section.maps 
  .maps__container.container
    .maps__head.head 
      h2 Или <b>приходите к нам в офис</b> 
    .maps__body
      //- .maps__body-container
        <div style="overflow:hidden;height:100%;"><a href="https://yandex.ru/maps/213/moscow/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Москва</a><a href="https://yandex.ru/maps/213/moscow/geo/moskovskiy_mezhdunarodny_delovoy_tsentr_moskva_siti/771248825/?ll=37.565644%2C55.748571&utm_medium=mapframe&utm_source=maps&z=13.92" style="color:#eee;font-size:12px;position:absolute;top:14px;">Московский международный деловой центр Москва-Сити — Яндекс.Карты</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUiARBQoB" frameborder="1" allowfullscreen="true" style="position:relative;width:100%;height:100%;"></iframe></div>
      .maps__form.modal-content