section.maps
  .maps__container.container
    .maps__head.head 
      h2 Или <b>приходите к нам в офис</b> 
    .maps__body#maps
      .maps__form.modal-content
        form.modal-content__body
          .modal-content__head 
            h4 Найти специалиста себе в команду <i>от HR  с 17-летним опытом</i>
          input(type="text" name="name" placeholder="Ваше имя" class="input")
          input(type="text" name="kogo" placeholder="Кого ищите" class="input")
          input(type="tel" name="tel" placeholder="+7 (_ _ _) _ _ _ - _ _ - _ _" class="input")
          button(type="submit" class="btn btn-main btn--mini") ПОДОБРАТЬ СПЕЦИАЛИСТА
          p.policy Нажимая на кнопку «Подобрать специалиста», вы принимаете <a href="#">политику конфиденциальности</a>
      .maps__body-container
        <div style="position:relative;overflow:hidden;height:100%"><a href="https://yandex.ru/maps/org/antey/1072697099/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Антей</a><a href="https://yandex.ru/maps/54/yekaterinburg/category/business_center/184107509/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Бизнес-центр в Екатеринбурге</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUiVMtE1D" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;height:100%;width:100%"></iframe></div>