section.otzovy 
  .otzovy__container.container
    .otzovy__body
      .otzovy__heading 
        h2 <b>Гордимся реальными отзывами и рекомендациями</b> от наших клиентов
        p “За каждым отзывом нашего клиента стоит целая история и большой объём работы — подбор персонала, обучение сотрудников, построение системы и многое другое”
      .otzovy__slider.swiper-container
        .otzovy__wrapper.swiper-wrapper
          .swiper-slide
            img(src="", alt="")
        .otzovy__nav 
          .otzovy__prev
          .otzovy__next
