section.partners 
  .partners__container.container
    .partners__body
      .partners__slider.swiper-container
        .partners__wrapper.swiper-wrapper
          .swiper-slide
            img(src="./img/image74.png", alt="")
          .swiper-slide
            img(src="./img/image75.png", alt="")
          .swiper-slide
            img(src="./img/image78.png", alt="")
          .swiper-slide
            img(src="./img/image79.png", alt="")
          .swiper-slide
            img(src="./img/image80.png", alt="")
          .swiper-slide
            img(src="./img/image81.png", alt="")
          .swiper-slide
            img(src="./img/image82.png", alt="")
          .swiper-slide
            img(src="./img/image84.png", alt="")
        .partners__nav 
          .partners__prev
          .partners__next
      .partners__heading 
        h2 <b>Мы ценим</b> всех <br> наших партнёров
        span и рады помогать с подбором и обучением ценных кадров