section.partners 
  .partners__container.container
    .partners__body
      .partners__slider.swiper-container
        .partners__wrapper.swiper-wrapper
          .swiper-slide
            img(src="./img/part1.png", alt="")
          .swiper-slide
            img(src="./img/part.png", alt="")
        .partners__nav 
          .partners__prev
          .partners__next
      .partners__heading 
        h2 <b>Мы ценим</b> всех <br> наших партнёров
        span и рады помогать с подбором и обучением ценных кадров