section.podbors 
  .podbors__container.container
    .podbors__head.head 
      h2 <b>Занимаемся подбором и обучением персонала</b> с 2004 года
      span За всё время работы трудоустроили и обучили более 7 000 специалистов
    .podbors__body
      .podbors__item 
        .podbors__item-heading
          h3 Подбор топ-менеджеров 
          img(src="./img/podbor-1.svg")
        p Подберем успешного руководителя из конкретного сегмента рынка. 
        . 
          + Собственная база соискателей с лучшими топ-менеджерами города
      .podbors__item 
        .podbors__item-heading
          h3 GHHjsdjffddsfdfs 
          img(src="./img/podbor-2.svg" )
        p ../data/types/it.md
      .podbors__item 
        .podbors__item-heading
          h3 GHHjsdjffddsfdfs 
          img(src="./img/podbor-3.svg" )
        p ../data/types/line_staff.md
      .podbors__item 
        .podbors__item-heading
          h3 GHHjsdjffddsfdfs 
          img(src="./img/podbor-4.svg" )
        p ../data/types/rare_staff.md
      .podbors__item 
        .podbors__item-heading
          h3 GHHjsdjffddsfdfs 
          img(src="./img/podbor-5.svg" )
        p fsdfsdfdsfdsfdsfsd
      .podbors__item 
        .podbors__item-heading
          h3 GHHjsdjffddsfdfs 
          img(src="./img/podbor-6.svg" )
        p fsdfsdfdsfdsfdsfsd
      .podbors__item 
        .podbors__item-heading
          h3 GHHjsdjffddsfdfs 
          img(src="./img/podbor-7.svg" )
        p fsdfsdfdsfdsfdsfsd
      .podbors__item 
        .podbors__item-heading
          h3 GHHjsdjffddsfdfs 
          img(src="./img/podbor-8.svg" )
        p fsdfsdfdsfdsfdsfsd
      .podbors__item 
        .podbors__item-heading
          h3 GHHjsdjffddsfdfs 
          img(src="./img/podbor-9.svg" )
        p fsdfsdfdsfdsfdsfsd
    a(class="btn btn-main" href="#") Обсудить подробнее