section.steps 
  .steps__container.container
    .steps__head.head
      h2 <b>Наша задача —</b>  подобрать вам специалиста, который усилит вашу команду и освободит ваше время
      span Рассказывает, как мы добиваемся такого результата:
    div(class="steps__body" data-animate-on-scroll)
      ul.steps__ul 
        li 
          h3 01. Заявка
          p Договариваемся о личной встрече для детального разбора вакансии
          button(class="btn btn-main btn--mini btn-to-form") оставить заявку
        li 
          h3 02. Мониторинг рынка
          p Исследование специфики вакансии, общее кол-во специалистов на рынке, анализ конкурентов
          img(src="./img/steps-line.svg" data-steps-line="20" class="steps__line")
        li 
          h3 03. Поиск и подбор кандидатов
          p Отбираем наилучших кандидатов, приглашаем на встречу и проводим оценку специалиста
          img(src="./img/steps-line.svg" data-steps-line="30" class="steps__line")
        li 
          h3 04. Первичное интервью с кандидатом
          p Проведение online интервью с кандидатами, оцениваем опыт и мотивацию специалиста
          img(src="./img/steps-line.svg" data-steps-line="40" class="steps__line")
        li 
          h3 05. Предварительное собеседование 
          p Обсуждаем условия работы и мотивируем специалиста на прохождение испытательного срока
          img(src="./img/steps-line.svg" data-steps-line="50" class="steps__line")
        li 
          h3 06. Составление резюме по кандидатам
          p К каждому резюме прилагаются комментарии нашего агентства, для полного понимания специалиста
          img(src="./img/steps-line.svg" data-steps-line="60" class="steps__line")
        li 
          h3 07. Отбор лучших резюме 
          p Отбираем наиболее успешных кандидатов. При необходимости проводится доп. собеседование
          img(src="./img/steps-line.svg" data-steps-line="70" class="steps__line")
        li 
          h3 08. Встреча заказчика с кандидатом
          p Организуем встречу с выбранными кандидатами. Присутствие HR агентства, RH по желанию клиента
          img(src="./img/steps-line.svg" data-steps-line="80" class="steps__line")
        li 
          h3 09. Гарантийное сопровождение
          p 3-6 месяцев. + Помогаем кандидату адаптироваться в команде во время испыт. срока
          img(src="./img/steps-line.svg" data-steps-line="90" class="steps__line")
        li.steps__evg
          img(src="./img/steps-evg.png", alt="Евгения Рушенцева")
          .steps__evg-heading 
            h4 Евгения Рушенцева
            p Руководитель и основатель кадрового агентства RuHunters
          ul 
            li 
              img(src="./img/steps-1.png", alt="")
              p Средние сроки подбора — 15 дней
            li 
              img(src="./img/steps-2.png", alt="")
              p Возможность замены специалиста в первые 6 месяцев
            li 
              img(src="./img/steps-3.png", alt="")
              p Собственная база соискателей
            li 
              img(src="./img/steps-4.png", alt="")
              p Полная отчётность о каждом предоставленном кандидате
            li 
              img(src="./img/steps-5.png", alt="")
              p Все этапы подбора берем на себя. Вы получаете лучшие кадры для собеседования
      button(type="button" class="btn btn-main btn-to-form") оставить заявку на подбор специалиста


    