section.steps 
  .steps__container.container
    .steps__head.head
      h2 <b>Наша задача —</b>  подобрать вам специалиста, который усилит вашу команду и освободит ваше время
      span Рассказывает, как мы добиваемся такого результата:
    .steps__body
      ul.steps__ul 
        li 
          h3 01. Заявка
          p Краткое описание функциональных обязанностей и требований к кандидату
          a(class="btn btn-main" href="#") оставить заявку
        li 
          h3 02. Мониторинг рынка
          p Краткое описание функциональных  обязанностей и требований к кандидату
          img(src="./img/steps-line.svg" data-steps-line="20")
        li 
          h3 03. Поиск и подбор кандидатов
          p Краткое описание функциональных  обязанностей и требований к кандидату
          img(src="./img/steps-line.svg" data-steps-line="30")
        li 
          h3 04. Первичное интервью с кандидатом
          p Краткое описание функциональных  обязанностей и требований к кандидату
          img(src="./img/steps-line.svg" data-steps-line="40")
        li 
          h3 05. Предварительное собеседование 
          p Краткое описание функциональных  обязанностей и требований к кандидату
          img(src="./img/steps-line.svg" data-steps-line="50")
        li 
          h3 06. Составление резюме по кандидатам
          p Краткое описание функциональных  обязанностей и требований к кандидату
          img(src="./img/steps-line.svg" data-steps-line="60")
        li 
          h3 07. Отбор лучших резюме 
          p Краткое описание функциональных  обязанностей и требований к кандидату
          img(src="./img/steps-line.svg" data-steps-line="70")
        li 
          h3 08. Встреча заказчика с кандидатом
          p Краткое описание функциональных  обязанностей и требований к кандидату
          img(src="./img/steps-line.svg" data-steps-line="80")
        li 
          h3 09. Гарантийное сопровождение
          p Краткое описание функциональных  обязанностей и требований к кандидату
          img(src="./img/steps-line.svg" data-steps-line="90")
        li.steps__evg
          img(src="./img/steps-evg.png", alt="Евгения Рушенцева")
          .steps__evg-heading 
            h4 Евгения Рушенцева
            p Руководитель и основатель кадрового агентства RuHunters
          ul 
            li 
              img(src="./img/steps-1.png", alt="")
              p Средние сроки подбора — 15 дней
            li 
              img(src="./img/steps-2.png", alt="")
              p Возможность замены специалиста в первые 6 месяцев
            li 
              img(src="./img/steps-3.png", alt="")
              p Собственная база соискателей
            li 
              img(src="./img/steps-4.png", alt="")
              p Полная отчётность о каждом предоставленном кандидате
            li 
              img(src="./img/steps-5.png", alt="")
              p Все этапы подбора берет на себя. Вы получаете лучшие кадры для собеседования
      a(class="btn btn-main" href="#") оставить заявку на подбор специалиста


    