section.understand 
  .understand__container.container
    .understand__head.head
      h2 К сожалению <b>90% кадровых агенств не понимают, кто вам нужен на самом деле</b>
      span и отправляют вам первую попавшуюся заявку
    .understand__body
      .understand__item 
        .understand__item-heading
          img(src="./img/unders-1.png")
        .understand__item-body
          p 
            b Отсутствие мониторинга 
          p заработных плат
      .understand__item 
        .understand__item-heading
          img(src="./img/unders-2.png")
        .understand__item-body
          p Не имеют собственной 
          p 
            b базы соискателей
      .understand__item 
        .understand__item-heading
          img(src="./img/unders-3.png")
        .understand__item-body
          p 
            b Постоянные звонки 
          p с вами и переносы сроков
      .understand__item 
        .understand__item-heading
          img(src="./img/unders-4.png")
        .understand__item-body
          p Кандидат <b>не понимает ценности</b> вашей компании