doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Shentseva Hunters | Агентство по подбору персонала в г. Екатеринбург с гарантией 6 месяцев")
    meta(name="keywords", content="Подбор персонала, hr, агенство по подбору персонала")
    link(rel="icon", href="assets/favicon.ico", type="image/x-icon")

    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/swiper-bundle.min.css")

    title Спасибо!
  body
    include _header2.pug

    //- JS
    script(src='js/index.js')
    //- script(src='js/parallax.min.js')
    //- script(src='js/parallax.js')